node_modules
npm-debug.log
.DS_Store
venv
*.pyc
django_photo_application/.coverage
django_photo_application/staticfiles/
django_photo_application/media/
django_photo_application/django_photo_application/settings/development.py
